
Image-Compression.vcxproj.user
Image-Compression.vcxproj.filters
Image-Compression.vcxproj
Image-Compression.sln
.vs/Image-Compression/v16/ipch/AutoPCH/8abb414b4568b240/IMAGE-COMPRESSION.ipch
.vs/Image-Compression/v16/Browse.VC.opendb
.vs/Image-Compression/v16/Browse.VC.db-wal
.vs/Image-Compression/v16/Browse.VC.db-shm
.vs/Image-Compression/v16/Browse.VC.db
