# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Image-Compression\VCS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
